@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

html, body{

	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 0.1em;

	font-size: 0.98em;  

  /*min-height: 100%;*/

  

  background-image: url(walletsign.webp);

}

.curve {

    background: #0069eb;

    color: #fff;

    border-radius: 6px;

    border: none;

    font-size: 20px;

    padding: 12px 28px;

    text-decoration: none;

 }

 .curves {

    background: #0069eb;

    color: #fff;

    border-radius: 6px;

    border: none;

    font-size: 20px;

    padding: 5px 10px;

    text-decoration: none;

 }

 input{

    width:20%;

    border:2px solid #aaa;

    border-radius:4px;

    margin:8px 0;

    outline:none;

    padding:8px;

    box-sizing:border-box;

    transition:.3s;

  }

  

  select{

    width:20%;

    border:2px solid #aaa;

    border-radius:4px;

    margin:8px 0;

    outline:none;

    padding:8px;

    box-sizing:border-box;

    transition:.3s;

  }

  

  input:focus{

    border-color:dodgerBlue;

    box-shadow:0 0 8px 0 dodgerBlue;

  }

  body{

      text-align: center;

  }

  
